:target {
  padding-top: 100px;
  margin-top: -100px;
}
.navbar-toggler > .close {
  display: inline;
}
.navbar-toggler.collapsed > .close,
.navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
  display: none;
}

.bg-teal {
  background-color: rgb(1, 50, 50);
}
.social {
  text-decoration: none;
  color: white;
}
.social:hover {
  text-decoration: none;
  color: white;
}

.text-teal {
  color: rgb(1, 50, 50);
  text-decoration: none;
}

.text-teal:hover {
  color: rgb(1, 50, 50);
  text-decoration: underline;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.main-wrapper {
  height: calc(100vh - 100px);
}

.cover {
  background-image: url("./images/BG1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.glass-box {
  width: 50%;
  height: 200px;
  background-color: white;
  opacity: 0.3;
}

.card-img-top-adj {
  max-width: 350px;
  min-height: 205px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .card-h {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
